In [1]:
import os
import json
import pandas as pd
import numpy as np
from geopy.distance import geodesic
from datetime import datetime
from cog_analysis import load_boat_data
from IPython.display import display

def load_summary_intervals(summary_file="summary.json"):
    with open(summary_file, "r") as f:
        summary = json.load(f)
    return {r["run"]: r["intervals"] for r in summary}

def filter_interval(df, start, end):
    return df[(df["SecondsSince1970"] >= start) & (df["SecondsSince1970"] <= end)].reset_index(drop=True)

def compute_stats(df, columns):
    stats = {}
    for col in columns:
        data = df[col].dropna()
        if col == "COG":
            angles = np.deg2rad(data)
            mean = np.rad2deg(np.arctan2(np.mean(np.sin(angles)), np.mean(np.cos(angles)))) % 360
            stats[col] = {"Avg": mean, "Min": data.min(), "Max": data.max(), "Count": len(data), "StdDev": data.std()}
        else:
            stats[col] = {"Avg": data.mean(), "Min": data.min(), "Max": data.max(), "Count": len(data), "StdDev": data.std()}
    return pd.DataFrame(stats).T

def compute_distance(lat, lon):
    if len(lat) < 2:
        return 0
    return sum(geodesic((lat.iloc[i - 1], lon.iloc[i - 1]), (lat.iloc[i], lon.iloc[i])).meters 
               for i in range(1, len(lat)))

def compute_straight_line(lat, lon):
    if len(lat) < 2:
        return 0
    return geodesic((lat.iloc[0], lon.iloc[0]), (lat.iloc[-1], lon.iloc[-1])).meters

from math import radians, cos, sin

from math import radians, cos, sin
import numpy as np
import pandas as pd
def compute_directional_gain(df1, df2):
    """
    Compute relative gain with correct signs:
    - Positive values = Boat 1 gains on Boat 2
    - Negative values = Boat 1 loses to Boat 2
    Components:
    - Forward: boat's heading direction (COG)
    - Up: perpendicular to heading (port side)
    - VMG: true wind direction (TWD)
    """
    try:
        # Data validation
        if df1.empty or df2.empty or len(df1) < 2 or len(df2) < 2:
            raise ValueError("Insufficient data points")
        
        # Circular mean for angles
        def circular_mean(angles):
            rad = np.radians(angles)
            return np.degrees(np.arctan2(np.mean(np.sin(rad)), 
                            np.mean(np.cos(rad)))) % 360
            
        cog = circular_mean(df1["COG"].dropna())
        twd = circular_mean(df1["TWD"].dropna())
        
        # Unit vectors
        forward_vec = np.array([np.sin(np.radians(cog)), 
                              np.cos(np.radians(cog))])
        up_vec = np.array([-forward_vec[1], forward_vec[0]])  # Port side
        vmg_vec = np.array([np.sin(np.radians(twd)), 
                           np.cos(np.radians(twd))])
        
        # Position conversion (Boat 2 start as origin)
        def to_meters(lat, lon, ref_lat, ref_lon):
            x = (lon - ref_lon) * 111319.9 * np.cos(np.radians(ref_lat))
            y = (lat - ref_lat) * 111319.9
            return np.array([x, y])
            
        ref_lat, ref_lon = df2["Lat"].iloc[0], df2["Lon"].iloc[0]
        
        # Position vectors (Boat 1 relative to Boat 2)
        start1 = to_meters(df1["Lat"].iloc[0], df1["Lon"].iloc[0], ref_lat, ref_lon)
        start2 = to_meters(df2["Lat"].iloc[0], df2["Lon"].iloc[0], ref_lat, ref_lon)
        end1 = to_meters(df1["Lat"].iloc[-1], df1["Lon"].iloc[-1], ref_lat, ref_lon)
        end2 = to_meters(df2["Lat"].iloc[-1], df2["Lon"].iloc[-1], ref_lat, ref_lon)
        
        # Key correction: Calculate relative progress
        initial_rel_pos = start1 - start2  # Initial position difference
        final_rel_pos = end1 - end2        # Final position difference
        progress = initial_rel_pos - final_rel_pos  # Positive = gained
        
        # Projections
        def project(vec):
            return {
                'Forward': np.dot(vec, forward_vec),
                'Up': np.dot(vec, up_vec),
                'VMG': np.dot(vec, vmg_vec)
            }
        
        # Time duration in minutes
        duration = (df1["SecondsSince1970"].iloc[-1] - df1["SecondsSince1970"].iloc[0]) / 60
        
        # Results table
        return pd.DataFrame({
            'Forward': [
                -np.dot(initial_rel_pos, forward_vec),  # Initial deficit
                -np.dot(final_rel_pos, forward_vec),    # Final deficit
                np.dot(progress, forward_vec),          # Total gain
                np.dot(progress, forward_vec)/duration if duration > 0 else np.nan
            ],
            'Up': [
                -np.dot(initial_rel_pos, up_vec),
                -np.dot(final_rel_pos, up_vec),
                np.dot(progress, up_vec),
                np.dot(progress, up_vec)/duration if duration > 0 else np.nan
            ],
            'VMG': [
                -np.dot(initial_rel_pos, vmg_vec),
                -np.dot(final_rel_pos, vmg_vec),
                np.dot(progress, vmg_vec),
                np.dot(progress, vmg_vec)/duration if duration > 0 else np.nan
            ]
        }, index=['Initial Deficit', 'Final Deficit', 'Total Gain', 'Gain per Minute'])
        
    except Exception as e:
        print(f"Error: {str(e)}")
        return pd.DataFrame(
            [[np.nan, np.nan, np.nan]] * 4,
            index=['Initial Deficit', 'Final Deficit', 'Total Gain', 'Gain per Minute'],
            columns=['Forward', 'Up', 'VMG']
        )
"""
def compute_directional_gain(df1, df2):

    try:
        # Check for valid data
        if df1.empty or df2.empty or len(df1) < 2 or len(df2) < 2:
            raise ValueError("Not enough data points")
            
        if "COG" not in df1.columns or df1["COG"].isna().all():
            raise ValueError("Missing course over ground (COG) data")
            
        if "TWD" not in df1.columns or df1["TWD"].isna().all():
            raise ValueError("Missing true wind direction (TWD) data")

        # Get average boat heading (COG) and true wind direction
        cog = df1["COG"].mean()
        cog_rad = np.radians(cog)
        twd = df1["TWD"].mean()
        twd_rad = np.radians(twd)
        
        # Calculate unit vectors
        forward_vec = np.array([np.sin(cog_rad), np.cos(cog_rad)])  # Boat's forward direction
        down_vec = np.array([-forward_vec[1], forward_vec[0]])      # Perpendicular to heading (right side)
        vmg_vec = np.array([np.sin(twd_rad), np.cos(twd_rad)])      # Wind direction
        
        # Convert lat/lon to meters relative to starting point
        def latlon_to_meters(lat, lon, ref_lat, ref_lon):
            lat_diff = (lat - ref_lat) * 111319.9  # meters per degree latitude
            lon_diff = (lon - ref_lon) * 111319.9 * np.cos(np.radians(ref_lat))
            return np.array([lon_diff, lat_diff])
        
        # Use starting position of Boat 2 as reference point
        ref_lat = df2["Lat"].iloc[0]
        ref_lon = df2["Lon"].iloc[0]
        
        # Starting and ending positions in meters
        start1 = latlon_to_meters(df1["Lat"].iloc[0], df1["Lon"].iloc[0], ref_lat, ref_lon)
        start2 = latlon_to_meters(df2["Lat"].iloc[0], df2["Lon"].iloc[0], ref_lat, ref_lon)
        end1 = latlon_to_meters(df1["Lat"].iloc[-1], df1["Lon"].iloc[-1], ref_lat, ref_lon)
        end2 = latlon_to_meters(df2["Lat"].iloc[-1], df2["Lon"].iloc[-1], ref_lat, ref_lon)
        
        # Calculate gains (Boat 1 relative to Boat 2)
        initial_offset = start1 - start2
        final_offset = end1 - end2
        total_gain = final_offset - initial_offset
        
        # Project gains onto different axes
        def project(vec):
            return {
                'Forward': np.dot(vec, forward_vec),  # Along boat's heading
                'Down': np.dot(vec, down_vec),       # Perpendicular to heading
                'VMG': np.dot(vec, vmg_vec)         # Along wind direction
            }
        
        # Calculate time duration in minutes
        duration = (df1["SecondsSince1970"].iloc[-1] - df1["SecondsSince1970"].iloc[0]) / 60
        
        # Create results DataFrame
        results = pd.DataFrame({
            'Forward': [
                project(initial_offset)['Forward'],
                project(final_offset)['Forward'],
                project(total_gain)['Forward'],
                project(total_gain)['Forward']/duration if duration > 0 else np.nan
            ],
            'Down': [
                project(initial_offset)['Down'],
                project(final_offset)['Down'],
                project(total_gain)['Down'],
                project(total_gain)['Down']/duration if duration > 0 else np.nan
            ],
            'VMG': [
                project(initial_offset)['VMG'],
                project(final_offset)['VMG'],
                project(total_gain)['VMG'],
                project(total_gain)['VMG']/duration if duration > 0 else np.nan
            ]
        }, index=['Initial Offset', 'Final Offset', 'Total Gain', 'Gain per Minute'])
        
        return results
        
    except Exception as e:
        print(f"Error computing directional gain: {str(e)}")
        return pd.DataFrame(
            [[np.nan, np.nan, np.nan]] * 4,
            index=['Initial Offset', 'Final Offset', 'Total Gain', 'Gain per Minute'],
            columns=['Forward', 'Down', 'VMG']
        )
"""


def merge_stats(stats1, stats2, label1, label2):
    stats1 = stats1.rename(columns=lambda x: f"{x} ({label1})")
    stats2 = stats2.rename(columns=lambda x: f"{x} ({label2})")
    combined = pd.concat([stats1, stats2], axis=1)
    order = ["Avg", "Min", "Max", "Count", "StdDev"]
    cols = [f"{stat} ({label})" for stat in order for label in (label1, label2) if f"{stat} ({label})" in combined.columns]
    return combined[cols]

def display_all(merged_stats, summary_df, gain_table, boat1_name, boat2_name):
    # Tableau statistiques avec format num√©rique
    display(
        merged_stats.style
        .format("{:.4g}")
        .set_caption("Run tot Statistics")
    )

    display(
        summary_df.style
        .format("{:.4g}")
        .set_caption("R√©sum√© des distances")
    )

    display(
        gain_table.style
        .set_caption(f"{boat1_name} gains relative to {boat2_name} in Meters")
    )


def load_and_reduce_boat_data(run_path, summary_dict):
    csv_files = sorted([f for f in os.listdir(run_path) if f.endswith(".csv")])
    if len(csv_files) < 2:
        raise ValueError("At least two CSV files are required.")

    boat1_df, boat2_df, boat1_name, boat2_name = load_boat_data(
        os.path.join(run_path, csv_files[0]),
        os.path.join(run_path, csv_files[1])
    )

    # Check if DataFrames are empty
    if boat1_df.empty or boat2_df.empty:
        raise ValueError("One or both boat DataFrames are empty")

    run_name = os.path.basename(run_path)
    if run_name not in summary_dict:
        raise ValueError(f"No intervals for run: {run_name}")
    intervals = summary_dict[run_name]
    if len(intervals) < 2:
        raise ValueError(f"Run {run_name} must have at least two intervals.")

    # Create filtered DataFrames
    boat1_int1 = filter_interval(boat1_df, intervals[0]["start_time"], intervals[0]["end_time"])
    boat2_int1 = filter_interval(boat2_df, intervals[0]["start_time"], intervals[0]["end_time"])
    boat1_int2 = filter_interval(boat1_df, intervals[1]["start_time"], intervals[1]["end_time"])
    boat2_int2 = filter_interval(boat2_df, intervals[1]["start_time"], intervals[1]["end_time"])

    # Check if filtered intervals are empty
    if boat1_int1.empty or boat2_int1.empty or boat1_int2.empty or boat2_int2.empty:
        raise ValueError("One or more interval DataFrames are empty")

    return {
        "full_df1": boat1_df,
        "full_df2": boat2_df,
        "reduced_boat1_int1_df": boat1_int1,
        "reduced_boat2_int1_df": boat2_int1,
        "reduced_boat1_int2_df": boat1_int2,
        "reduced_boat2_int2_df": boat2_int2,
        "boat1_name": boat1_name,
        "boat2_name": boat2_name
    }

def compare_runs(df1, df2, label1, label2):
    cols = ["TWS", "TWD", "SOG", "VMG", "COG", "TWA_Abs", "Heel_Lwd", "Trim"]
    stats1 = compute_stats(df1, cols)
    stats2 = compute_stats(df2, cols)
    dist1 = compute_distance(df1["Lat"], df1["Lon"])
    dist2 = compute_distance(df2["Lat"], df2["Lon"])
    straight1 = compute_straight_line(df1["Lat"], df1["Lon"])
    straight2 = compute_straight_line(df2["Lat"], df2["Lon"])
    summary_df = pd.DataFrame({label1: [dist1, straight1], label2: [dist2, straight2]}, index=["Distance [m]", "Straight Line [m]"])
    return stats1, stats2, summary_df

def process_run(df1, df2, name1, name2, title):
    if df1.empty or df2.empty:
        print(f"‚ö†Ô∏è Skipping {title} due to empty DataFrames: {name1} vs {name2}")
        return

    df1 = df1.copy()
    df2 = df2.copy()
    df1["ISODateTimeUTC"] = pd.to_datetime(df1["ISODateTimeUTC"], errors="coerce")
    df2["ISODateTimeUTC"] = pd.to_datetime(df2["ISODateTimeUTC"], errors="coerce")

    # Check for valid timestamps
    if df1["ISODateTimeUTC"].isna().all() or df2["ISODateTimeUTC"].isna().all():
        print(f"‚ö†Ô∏è Skipping {title} due to invalid timestamps: {name1} vs {name2}")
        return

    start_time = df1["ISODateTimeUTC"].iloc[0].ceil("min")
    df1 = df1[df1["ISODateTimeUTC"] >= start_time]
    df2 = df2[df2["ISODateTimeUTC"] >= start_time]

    if df1.empty or df2.empty:
        print(f"‚ö†Ô∏è Skipping {title} after time alignment: {name1} vs {name2}")
        return

    print("\n" + "=" * 80)
    print(f"üìä {title}: {name1} vs {name2}")
    print("=" * 80)

    stats1, stats2, summary_df = compare_runs(df1, df2, name1, name2)
    merged_stats = merge_stats(stats1, stats2, name1, name2)
    directional_gain = compute_directional_gain(df1, df2)
    display_all(merged_stats, summary_df, directional_gain, name1, name2)


def process_all_run(run_path, summary_path):
    summary_dict = load_summary_intervals(summary_path)
    result = load_and_reduce_boat_data(run_path, summary_dict)
    name1, name2 = result["boat1_name"], result["boat2_name"]

    process_run(result["full_df1"], result["full_df2"], name1, name2, "Full Interval")
    process_run(result["reduced_boat1_int1_df"], result["reduced_boat2_int1_df"], name1, name2, "Interval 1: Upwind")
    process_run(result["reduced_boat1_int2_df"], result["reduced_boat2_int2_df"], name1, name2, "Interval 2: Downwind")

In [2]:
import os
import json
from cog_analysis import analyze_session

summary_path = "summary.json"

base_dir = "../Data_Sailnjord/Straight_lines"

# Scan de tous les dossiers de date
for date_folder in sorted(os.listdir(base_dir)):
    date_path = os.path.join(base_dir, date_folder)

    # Scan de tous les runs dans chaque dossier de date
    for run_folder in sorted(os.listdir(date_path)):
        run_path = os.path.join(date_path, run_folder)
        print("\n\nProcessing:", run_path)
        try:
            process_all_run(run_path, summary_path)
        except ValueError as e:
            print(f"Error: {e}")

Processing: ../Data_Sailnjord/Straight_lines\06_06\06_06_Run1

================================================================================
üìä Full Interval: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs Karl Maeder
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\06_06\06_06_Run2

================================================================================
üìä Full Interval: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs Karl Maeder
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\06_06\06_06_Run3

================================================================================
üìä Full Interval: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs Karl Maeder
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\06_06\06_06_Run4

================================================================================
üìä Full Interval: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs Karl Maeder
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\06_06\06_06_Run5

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\06_06\06_06_Run6

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\06_06\06_06_Run7

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\06_06\06_06_Run8

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\07_06\07_06_Run1

================================================================================
üìä Full Interval: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs Karl Maeder
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\07_06\07_06_Run10

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\07_06\07_06_Run2

================================================================================
üìä Full Interval: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs Karl Maeder
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\07_06\07_06_Run3

================================================================================
üìä Full Interval: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\07_06\07_06_Run4

================================================================================
üìä Full Interval: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\07_06\07_06_Run5

================================================================================
üìä Full Interval: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\07_06\07_06_Run6

================================================================================
üìä Full Interval: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\07_06\07_06_Run7

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\07_06\07_06_Run8

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\07_06\07_06_Run9

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\09_06\09_06_Run1

================================================================================
üìä Full Interval: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs Karl Maeder
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\09_06\09_06_Run10

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\09_06\09_06_Run11

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\09_06\09_06_Run2

================================================================================
üìä Full Interval: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs Karl Maeder
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs Karl Maeder
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\09_06\09_06_Run3
Error: At least two CSV files are required.


Processing: ../Data_Sailnjord/Straight_lines\09_06\09_06_Run4

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\09_06\09_06_Run5

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

‚ö†Ô∏è Skipping Interval 2: Downwind after time alignment: Karl Maeder vs SenseBoard


Processing: ../Data_Sailnjord/Straight_lines\09_06\09_06_Run6

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\09_06\09_06_Run7

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\09_06\09_06_Run8

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\09_06\09_06_Run9

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\10_06\10_06_Run1

================================================================================
üìä Full Interval: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\10_06\10_06_Run10

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\10_06\10_06_Run2

================================================================================
üìä Full Interval: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\10_06\10_06_Run3

================================================================================
üìä Full Interval: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\10_06\10_06_Run4

================================================================================
üìä Full Interval: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\10_06\10_06_Run5

================================================================================
üìä Full Interval: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Gian Stragiotti vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Gian Stragiotti vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\10_06\10_06_Run6

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\10_06\10_06_Run7

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\10_06\10_06_Run8

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================

Processing: ../Data_Sailnjord/Straight_lines\10_06\10_06_Run9

================================================================================
üìä Full Interval: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 1: Upwind: Karl Maeder vs SenseBoard
================================================================================

================================================================================
üìä Interval 2: Downwind: Karl Maeder vs SenseBoard
================================================================================